body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 600px;
}

svg {
    width: 100%;
    height: auto;
}

.edge {
    stroke: #333;
    stroke-width: 2;
    fill: none;
}

.edge-thin {
    stroke-width: 4;
}

.edge-thick {
    stroke: #dc2626;
    stroke-width: 12;
}

.edge-orange {
    stroke: #f97316;
}

.node-circle-outer {
    stroke-width: 5;
}

.node-text {
    font-size: 24px;
    font-family: sans-serif;
    text-anchor: middle;
    fill: black;
}

/* Node Specific Styles */
[data-node-id="5-red"] .node-circle-outer { stroke: #b91c1c; }
[data-node-id="5-red"] .node-circle-inner { fill: #f87171; }
[data-node-id="5-red"] .node-text { font-weight: bold; }

[data-node-id="3-green"] .node-circle-outer { stroke: #15803d; }
[data-node-id="3-green"] .node-circle-inner { fill: #4ade80; }
[data-node-id="3-green"] .node-text { font-weight: bold; }

[data-node-id="11-yellow"] .node-circle-outer { stroke: #dc2626; }
[data-node-id="11-yellow"] .node-circle-inner { fill: #facc15; }
[data-node-id="11-yellow"] .node-text { font-weight: bold; }

[data-node-id="5-blue"] .node-circle-outer { stroke: #0369a1; }
[data-node-id="5-blue"] .node-circle-inner { fill: #38bdf8; }
[data-node-id="5-blue"] .node-text { font-weight: bold; }

[data-node-id="1-lightred"] .node-circle-outer { stroke: #f87171; }
[data-node-id="1-lightred"] .node-circle-inner { fill: white; }
[data-node-id="1-lightred"] .node-text { fill: #f87171; font-weight: bold;}

/* Central Bar Styles */
.central-bar text {
    font-family: sans-serif;
    font-size: 10px;
}

.central-bar .rect-id { fill: #f87171; }
.central-bar .rect-sj { fill: #f87171; }
.central-bar .rect-c { fill: #b91c1c; }
.central-bar .rect-vb { fill: #4ade80; }
.central-bar .rect-h { fill: #15803d; }
.central-bar .rect-b { fill: #a16207; }
.central-bar .rect-e { fill: #f97316; }
.central-bar .rect-r { fill: #2563eb; }
.central-bar .rect-ig { fill: #000; }
.central-bar .rect-p { fill: #d1d5db; }

/* Clicked state */
.node.clicked .node-circle-outer {
    stroke-width: 8;
}
.edge.highlighted {
    stroke: #f59e0b;
    stroke-width: 16;
}

.edge-thin.highlighted {
    stroke: #f59e0b;
    stroke-width: 8;
}
